 header{
    background-color: #000000;
    color: #FFFFFF;
 }

 .cabecalho{
    color:white;
    margin:center;
 }

 .cabecalho-lista-1{
    color:white;
    margin: left 40px; /*alinhamento à esquerda*/
    padding: 20px; /* espaçamento vertical*/
 }

 .cabecalho_lista-2{
    color:white;
    margin-left: 40px;
    padding: 20px;
 }

 body{
    background-color: rgb(252,252,173);
    color:black;
 }

 .titulo-2{
    color:black;
    margin: center;
 }
