 header {
    background-color: #000000;
    color: #FFFFFF;
 }

 .cabecalho {
    color:white;
    margin-left: 540px;
    text-align: center;
    display: flex;
 }

 .cabecalho-lista-1 {
    color:white;
    margin-left: 260px; /* alinhamento à esquerda */
    padding: 40px; /* espaçamento vertical */
    display: inline-block;
    justify-content: center;
 }

 .cabecalho-lista-2 {
    color:white;
    margin-left: 260px;
    padding: 40px;
    display: inline-block;
    justify-content: center;
 }

 body {
    background-color: #fff89b;
    color:black;
    font-family:'Poppins', 'sans-serif';
 }

 .titulo-2 {
    color:black;
    justify-content: center;
    display: flex;
 }

 .paragrafo-1 {
   text-align: center;
   justify-content: center;
 }

.titulo-3 {
   color:black;
   justify-content: center;
   display: flex;
}

.paragrafo-2 {
   margin-left: 20px;
   justify-content: center;
}

.arduino {
   width: 45%;
   display: inline;
   padding: 30px;
}

.protoboard {
   width: 30%;
   display: inline;
   padding: 120px;
}

.multimetro {
   width: 40%;
   margin-right: 30px;
}

.capacitor {
   width: 15%;
   display: inline;
   padding: 30px;
   margin-left: 60px;
   margin-right: 40px;;
}

.sensor-LDR {
   width: 20%;
   display:inline;
   padding: 20px;
   margin-left: 150px;
}

.led {
   width: 20%;
   display:inline;
   padding: 20px;
   margin-left: 140px; 

}

footer {
   background-color: #000000;
   color: white;
   text-align: center;
   padding: 10px;
}

p{
   justify-content: center;
   padding: 20px;
}

.preco-1 {
   width: 25%;
   display: inline-block;
   margin-left: 25px;
   margin-right: 50px;
   text-align: center;
}

.preco-2 {
   width: 25%;
   display: inline-block;
   margin-left: 25px;
   margin-right: 50px;
   text-align: center;
}